body, html {
    height: 100%;
}

.paralaxBg {
        background-image: url("https://hdqwalls.com/download/rick-and-morty-5k-artwork-hy-1920x1080.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        
        /* Paralax effect start*/
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        /* end */
}


.mortyMembers {
    text-align: center;
    height:300px;
    background-color: lightslategray;
    font-size:18px;
    color: #eee;
    background-image: linear-gradient(to bottom right, red, yellow);
}

section {
    height: 200px;
    background-image: linear-gradient(to bottom right, pink, blue);
    color: #eee;
    text-align: center;
}

col-sm-3, col-sm-12 {
    text-align: bottom;

    /* Not working */
    border: 3px solid blue;
    border-radius: 10px/30px;
    /* Not working */
}